body
{
    font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
p, h1, form, button
{
    border: 0;
    margin: 0;
    padding: 0;
}
.spacer
{
    clear: both;
    height: 1px;
}
/* ----------- My Form ----------- */
.myform
{
    margin: 0 auto;
    width: 400px;
    padding: 14px;
    height: auto;
}

/* ----------- stylized ----------- */
#stylized
{
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
}
#stylized h1
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
#stylized p
{
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px;
}
#stylized label
{
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
}
#stylized .small
{
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}
#stylized input
{
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}
#stylized button
{
    clear: both;
    margin-left: 150px;
    width: 125px;
    height: 31px;
    background: #666666 url(img/button.png) no-repeat;
    text-align: center;
    line-height: 31px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
}

#navigationControl
{
    padding: 14px;
    clear: both;
    margin-left: auto;
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
}

#navigationControl input
{
    width: 125px;
    height: 31px;
    background: #666666 url(img/button.png) no-repeat;
    text-align: center;
    line-height: 31px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
}

/*Progress Bar*/

#progressbar{
    width:25%;
    height:15px;
    border:1px solid #000;
    overflow:hidden; 
    
    }
#bar
{
    float : left;
    height:15px;
    border-right: 1px solid #000000;
    background: #d65946; }
#progess {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -16px; 
}

#custom
{
    
} 

#custom label
{
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
}

#custom input
{
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}

.customClass
{
    width: 400px;
    padding: 14px;
    height: 170px;
}


#tbl
{
      
}

#tbl tr
{
      background-color:#666666;
      color : black;
}

#tbl tr:nth-child(2n+1)
{
    background-color:#ebf4fb;
}

#tbl tr:odd
{
    background-image:black;
    color:White;
}

#tbl td
{
    width: 200px;
    font-size: 12px;
    padding : 10px; 
    margin: 2px 0 20px 10px;
}

#tbl td:nth-child(2n+1)
{
    font-weight:bolder;
}